# Precipitation Analysis Using Python Pandas
This notebook analyzes and displays the first n rows of the precipitations csv file

In [7]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0
print("Add your respective credentials")

Add your respective credentials

In [8]:
# The code was removed by Watson Studio for sharing.

In [9]:

# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head(10)

,Country or Area,1990,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Albania,28385.000000,40311.000000,0.000000,0.000000,0.000000,38284.000000,30683.000000,30491.000000,35883.000000,27893.000000,42787.000000,42840.000000,32380.000000,30964.000000,0.000000,0.000000
1,Algeria,76160.000000,90270.000000,53380.000000,74460.000000,66470.000000,50150.000000,64430.000000,43840.000000,37317.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100000.000000,0.000000
2,Andorra,539.947998,510.673004,560.340027,434.475006,254.000000,450.151001,518.666016,456.626007,565.559021,566.583008,567.044006,530.278015,353.220001,306.630005,0.000000,0.000000
3,Anguilla,93.099998,100.730003,0.000000,0.000000,0.000000,0.000000,68.190002,70.730003,68.190002,108.769997,84.250000,124.400002,99.550003,86.290001,96.889999,71.080002
4,Antigua and Barbuda,300.299988,374.500000,323.299988,279.200012,384.500000,426.799988,249.600006,238.000000,268.600006,253.899994,426.899994,371.000000,332.799988,293.600006,392.500000,276.899994
5,Armenia,15794.000000,15407.000000,16777.000000,18595.000000,13559.000000,14393.000000,11264.000000,12516.000000,17761.000000,18595.000000,15287.000000,18714.000000,16658.000000,19221.000000,13378.000000,17713.000000
6,Azerbaijan,41998.000000,36294.601562,30764.000000,36381.000000,0.000000,37850.000000,38368.500000,32707.900391,46787.398438,50728.398438,47534.699219,35252.300781,40009.000000,43126.800781,38372.500000,49463.300781
7,Bahrain,45.000000,225.500000,87.199997,176.800003,96.699997,94.900002,128.300003,39.299999,60.299999,66.599998,59.799999,74.199997,212.100006,47.299999,0.000000,0.000000
8,Barbados,705.630005,573.190002,656.179993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Belarus,151963.203125,127258.796875,125805.601562,138054.000000,172045.000000,116286.000000,135978.000000,139294.000000,115042.000000,127894.000000,145720.000000,134732.000000,133902.000000,131826.000000,142623.000000,167877.000000